<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test1</title>
    <script src="/bootstrap/js/jquery-1.11.1.js"></script>
    <script src="/js/echartsall.js"></script>
    <script type="text/javascript">
        var ip=null;
        $(function () {

            $.ajax({
                type:"POST",
                url:"/getIp",
                dataType:"json",
                success:function (data) {
                    ip=data;
                    //WebSocketTest();
                    $.ajax({
                        type:"POST",
                        url:"/webSocketLogin/chef",
                        dataType:"json",
                        success:function (data) {
                            //alert("连接成功");
                            WebSocketTest();
                        },
                        error:function () {
                            alert("连接失败！");
                        }
                    });
                },
                error:function () {
                    alert("连接失败！");
                }
            });



            $("#myMessage").keydown(function (event) {
                if(event.keyCode==13){
                    if($(this).val().trim()==""){
                        $(this).val("");
                    }else{
                        toWaiter();
                    }
                }
            });

            $("#myMessage").keyup(function (event) {
                if(event.keyCode==13){
                    $(this).val("");
                }
            });

            $("#send").click(function () {
                if($("#myMessage").val().trim()==""){
                    $("#myMessage").val("");
                }else{
                    toWaiter();
                    $("#myMessage").val("");
                }
            });














            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById("main"));

            // 指定图表的配置项和数据
            var option = {
                title: {
                    text: 'ECharts 入门示例'
                },
                tooltip: {},
                legend: {
                    data:['销量']
                },
                xAxis: {
                    data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
                },
                yAxis: {},
                series: [{
                    name: '销量',
                    type: 'line',
                    data: [5, 20, 36, 10, 10, 20]
                }]
            };
            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
        });

        function WebSocketTest()
        {
            if ("WebSocket" in window)
            {
                //alert("您的浏览器支持 WebSocket!");
                if (ip=="12.12.43.253") {
                    ip="localhost";
                }
                // 打开一个 web socket
                var ws=new WebSocket("ws://"+ip+":8090/myHandler");

                //打开连接时
                ws.onopen = function()
                {
                    // Web Socket 已连接上，使用 send() 方法发送数据
                    //ws.send("发送数据");
                    //alert("数据发送中...");
                };

                //收到消息时
                ws.onmessage = function (evt)
                {
                    var received_msg = evt.data;
                    //alert("数据已接收..."+received_msg);
                    var otherChat="<div align='left' style='width: 100%;height: 40px;white-space: normal;'>点餐员："+received_msg+"</div>";
                    $("#chatBox").append(otherChat);
                };

                //连接出错时
                ws.onerror = function (ev) {
                    alert("连接出现问题!");
                }

                //连接关闭时
                ws.onclose = function()
                {
                    // 关闭 websocket
                    //alert("连接已关闭...");
                };
            }

            else
            {
                // 浏览器不支持 WebSocket
                alert("您的浏览器不支持 WebSocket!");
            }
        }

        function toWaiter() {
            var myMessage=$("#myMessage").val();
            var myChat="<div align='right' style='width: 100%;height: 40px;word-break: break-all;'>"+myMessage+":我</div>";
            $("#myMessage").val("");
            $("#chatBox").append(myChat);
            $.ajax({
                type:"POST",
                //url:"/sendMessageToUser/waiter/上菜！憨批！",
                url:"/sendMessageToUser/waiter/"+myMessage,
                dataType:"json",
                success:function (data) {
                    //alert("连接成功");
                },
                error:function () {
                    alert("连接失败！");
                }
            });
        }















    </script>
</head>
<body>
    <a href="javascript:toWaiter()">上菜</a>
    <div id="chatBox" style="width: 600px;border: 1px solid black;word-break: break-all;">

    </div>
    <div>
        <textarea id="myMessage"></textarea>
    </div>
    <button id="send">发送</button>




    <div id="main" style="width: 600px;height:400px;"></div>
</body>
</html>