<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.os.mapper.OrderinfoMapper">
    <resultMap id="OrderinfoResultMap" type="com.os.entity.Orderinfo">
        <id column="orderid" jdbcType="INTEGER" property="orderid"/>
        <result column="orderbegindate" jdbcType="VARCHAR" property="orderbegindate"/>
        <result column="orderenddate" jdbcType="VARCHAR" property="orderenddate"/>
        <result column="orderstate" jdbcType="INTEGER" property="orderstate"/>
        <association property="userinfo" javaType="Userinfo" column="userid"
                     select="com.os.mapper.UserinfoMapper.selectByPrimaryKey">
        </association>
        <association property="tables" javaType="Tables" column="tableid"
                     select="com.os.mapper.TableMapper.selectByPrimaryKey">
        </association>
    </resultMap>
    <sql id="Base_Column_List">
    orderid, orderbegindate, orderenddate, waiterid, orderstate, tableid
    </sql>

    <select id="selectOrderByTime" resultMap="OrderinfoResultMap">
        SELECT o.*,u.*,t.* FROM orderinfo o,userinfo u,`tables` t where o.waiterid=u.userid and o.tableid=t.tableid
        <if test="orderbegindate!=null">
            and orderbegindate &gt;= #{orderbegindate}
        </if>
        <if test="orderenddate!=null">
            and orderenddate &lt;= #{orderenddate}
        </if>
        and orderstate=#{orderstate}
    </select>
    <select id="selectCharts" resultMap="OrderinfoResultMap">
        SELECT o.*,u.*,t.* FROM orderinfo o,userinfo u,`tables` t where o.waiterid=u.userid and o.tableid=t.tableid and orderenddate BETWEEN #{orderbegindate} AND #{orderenddate}
        and orderstate=1
    </select>
    <select id="selectTablesByTableId" resultMap="OrderinfoResultMap">
    SELECT o.*,u.*,t.* FROM orderinfo o,userinfo u,`tables` t where o.waiterid=u.userid and  o.tableid=t.tableid and o.tableid=#{tableid} order by o.orderid desc limit 1
    </select>


    <select id="selectAll" resultMap="OrderinfoResultMap">
    SELECT o.*,u.*,t.* FROM orderinfo o,userinfo u,`tables` t where o.waiterid=u.userid and  o.tableid=t.tableid
    </select>


    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="OrderinfoResultMap">
    select 
    o.*,u.*,t.* FROM orderinfo o,userinfo u,`tables` t where o.waiterid=u.userid and  o.tableid=t.tableid and orderid = #{orderid,jdbcType=INTEGER}
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from orderinfo
    where orderid = #{orderid,jdbcType=INTEGER}
    </delete>


    <insert id="insertSelective" parameterType="com.os.entity.Orderinfo">
        insert into orderinfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderid != null">
                orderid,
            </if>
            <if test="orderbegindate != null">
                orderbegindate,
            </if>
            <if test="orderenddate != null">
                orderenddate,
            </if>
            <if test="userinfo.userid != null">
                waiterid,
            </if>
            <if test="orderstate != null">
                orderstate,
            </if>
            <if test="tables.tableid != null">
                tableid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderid != null">
                #{orderid,jdbcType=INTEGER},
            </if>
            <if test="orderbegindate != null">
                #{orderbegindate,jdbcType=VARCHAR},
            </if>
            <if test="orderenddate != null">
                #{orderenddate,jdbcType=VARCHAR},
            </if>
            <if test="userinfo.userid != null">
                #{userinfo.userid,jdbcType=INTEGER},
            </if>
            <if test="orderstate != null">
                #{orderstate,jdbcType=INTEGER},
            </if>
            <if test="tables.tableid != null">
                #{tables.tableid,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.os.entity.Orderinfo">
        update orderinfo
        <set>
            <if test="orderbegindate != null">
                orderbegindate = #{orderbegindate,jdbcType=VARCHAR},
            </if>
            <if test="orderenddate != null">
                orderenddate = #{orderenddate,jdbcType=VARCHAR},
            </if>
            <if test="userinfo!=null">
                <if test="userinfo.userid != null">
                    waiterid = #{userinfo.userid,jdbcType=INTEGER},
                </if>
            </if>
            <if test="orderstate != null">
                orderstate = #{orderstate,jdbcType=INTEGER},
            </if>
            <if test="tables!=null">
                <if test="tables.tableid != null">
                    tableid = #{tables.tableid,jdbcType=INTEGER},
                </if>
            </if>
        </set>
        where orderid = #{orderid,jdbcType=INTEGER}
    </update>
</mapper>